@charset "ISO-8859-1";
body,
h1,
h2,
p,
input,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  background-color: #000000;
}

.form-content {
  max-width: 450px;
  margin: 50px auto;
  padding: 20px;
  background-color: #62755e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(169, 243, 243, 0.906);
  padding-left: 10px;
}

.head {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #333;
}

.head h2 {
  padding-top: 1em;
  font-size: 40px;
  color: rgb(12, 151, 7);
  font-family: "Audiowide", sans-serif;
}

label {
  display: block;
  font-size: 17px;
  color: #000000;
  font-family: "Audiowide", sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 15px;
  margin-right: 20px;
}

input[type="submit"] {
  background-color: #0d982b;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 180px;
  margin-left: 30%;
  margin-top: 15px;
  font-family: "Audiowide", sans-serif;
}

input[type="submit"]:hover {
  transition: 0.5s;
  background-color: #45a049;
}

input:hover {
  border-color: #66afe9;
}