<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin</title>
<link rel="stylesheet" th:href="@{/css/adminHome.css}">
 <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
</head>
<body>
	<div class="head">
    <img src="css/newLogo-removebg-preview.png" alt="logo">
    <h1>Admin Home Page</h1>
  </div>
  <div class="links">
    <a href=newSong class="cta-button">Add a new Song</a>
    <br>
    <a href="displaySongs" class="cta-button">View Songs</a>
    <br>
    <a href="createPlaylist" class="cta-button">Create Playlist</a>
    <br>
    <a href="displayPlaylists" class="cta-button">View Playlist</a>
    <br>
  </div>
</body>
</html>