<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>TuneHub Home</title>
<link rel="stylesheet" th:href="@{/css/displaySong.css}">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Audiowide">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Sofia">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
	<div th:unless="${isPremium}" class="non-premium">

		<section id="NON-Premimu-Content">
			<div>
				<div class="head">
					<div>
						<h1>TuneHub Premium</h1>
						<p>Welcome to the new home of all your favourite Music</p>
						<span>content. The biggest, the best, Exclusively yours.</span>
					</div>
					<div class="logout">
						<a href="login">Login</a>
					</div>
				</div>
				<div class="container">
					<div class="info">
						<span>What you'll get </span>
						<ul>
							<li>Listen without limits.</li>
							<li>Download to listen offline</li>
							<li>High audio quality</li>
							<li>Create your own playlist</li>
							<li>Subscribe or one-time payment</li>
						</ul>
						<h3>
							Enjoy life time of <span class="pre">Premium </span> for ₹5000.
						</h3>
						<form id="payment-form">
							<button type="submit" class="buy-button">BUY</button>
						</form>
					</div>
					<div class="image-container">
						<img src="cover image/music.jpg" alt="Song Cover">
					</div>
				</div>

			</div>
		</section>



	</div>





	<div th:if="${isPremium}" class="premium">


		<section id="Header-Section">
			<header>
				<div>
					<h1>TuneHub Songs</h1>
				</div>

				<div>
					<form action="/searchSongs" method="GET">
						<input type="text" name="keyword"
							placeholder="what do you want play?">
						<button type="submit">
							<i class="fa fa-search" style="font-size: 30px; color: white;"></i>
						</button>
					</form>
				</div>


				<div>
					<form action="logout">
						<a href="login">Logout</a>
					</form>
				</div>
			</header>
		</section>



		<section id="Grid">
			<div class="grid-container">
				<div class="song-card" th:each="song:${songs}">
					<div class="info">
						<img alt="None" th:src="@{'/images/' +${song.imageLink}}">
						<h3 th:text="${song.name}">Song Title</h3>
						<span th:text="${song.artist}">Artist</span>
					</div>
					<audio controls="controls">
						<source th:src="${song.link}" type="audio/mpeg">
					</audio>
				</div>
			</div>
		</section>



		<section>
			<div class="sidebar">
				<div class="logo">
					<img src="css/newLogo-removebg-preview.png" alt="logo">
				</div>
				<div class="admin-choices">
					<a href="custSongsHome" class="cta-button">View All Songs</a> <br>
					<a href="createPlaylist" class="cta-button">Create Playlist</a> <br>
					<a href="displayPlaylists" class="cta-button">View Playlist</a> <br>

				</div>
			</div>

		</section>





	</div>

</body>
<script>
	$(document).ready(function() {
		$(".buy-button").click(function(e) {
			e.preventDefault();
			var form = $(this).closest('form');

			createOrder();
		});
	});

	function createOrder() {

		$.post("/createOrder").done(
				function(order) {
					order = JSON.parse(order);
					var options = {
						"key" : "rzp_test_MMd2bgsAvEvjuq",
						"amount" : order.amount_due.toString(),
						"currency" : "INR",
						"name" : "Tune Hub",
						"description" : "Test Transaction",
						"order_id" : order.id,
						"handler" : function(response) {
							verifyPayment(response.razorpay_order_id,
									response.razorpay_payment_id,
									response.razorpay_signature);
						},
						"prefill" : {
							"name" : "Your Name",
							"email" : "test@example.com",
							"contact" : "9999999999"
						},
						"notes" : {
							"address" : "Your Address"
						},
						"theme" : {
							"color" : "#F37254"
						}
					};
					var rzp1 = new Razorpay(options);
					rzp1.open();
				}).fail(function(error) {
			console.error("Error:", error);
		});
	}

	function verifyPayment(orderId, paymentId, signature) {
		$.post("/verify", {
			orderId : orderId,
			paymentId : paymentId,
			signature : signature
		}).done(function(isValid) {
			if (isValid) {
				alert("Payment successful. re-login to your preimum account")
				window.loaction.href = 'payment-success';
			} else {
				alert("Payment failed");
				window.location.href = 'payment-failure';
			}
		}).fail(function(error) {
			console.error("Error:", error);
		});
	}
</script>


</html>