<!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Audiowide">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Sofia">
</head>

<body>

	<div>
		<div>
			<div class="logo">
			 <a href="index"><img src="css/newLogo-removebg-preview.png" alt=""></a>
			
			</div>
		</div>

		<div class="body-content">
			<div>
				<header>
					<h1>Log in to TuneHub</h1>
				</header>
			</div>

			<div>
				<form action="validate" method="post">
					<div>
						<label>E-mail</label> <input type="text" name="email" /> <br>
						<label>Password</label> <input type="password" name="password" />
						<br> <input type="submit" value="login" />
					</div>

					<div>
						<a href="registration">Sign Up</a>
					</div>
				</form>
			</div>

		</div>

	</div>
</body>

</html>